body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #000;
}


.top-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 40px 0;
}

.top-right {
    width: 480px;
    margin-right: 60px;
}

.top-right img {
    width: 100%;
    border-radius: 4px;
}

.top-caption {
    font-size: 13px;
    margin-top: 10px;
}


.main-title {
    font-size: 26px;
    margin: 30px 0 20px 60px;
}

.big-photo-wrapper img {
    width: 100%;
    height: 600px;
}

.photo-description {
    font-size: 12px;
    margin: 8px 60px;
}


.yellow-bar {
    background: #f1a326;
    padding: 18px 60px;
}

.yellow-btn {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}


.explore-section {
    padding: 40px 60px;
}

.explore-section h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.explore-grid {
    display: flex;
    gap: 25px;
}

.explore-item {
    width: 33%;

}

.explore-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.explore-item p {
    font-weight: bold;
    margin-top: 10px;
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;
    background: #f7f7f7;
    margin-top: 50px;
}

.footer-left h3 {
    margin: 0;
}

.footer-columns {
    display: flex;
    gap: 40px;
}

.col p {
    margin: 4px 0;
}
header {
    width: 100%;
    padding: 20px 40px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    letter-spacing: 0.5px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}   