* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}   
body {
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    padding: 20px 40px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.title {
   flex: 1;
    display: flex;
    align-items: center;
    padding-left: 40px;
}
h1 {
    font-size: 32px;
    width: 55%;
    line-height: 1.2;
    font-weight: normal;
}
hr {
    border: none;
    width: 100%;
    height: 80px;
    background: orange;
}